@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("../../fonts/Bahnschrift.ttf") format("ttf");
}
body {
  font-family: "Bebas Neue", sans-serif;
  background-color: #FFFFFF;
}

.offset {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
}

.no-scroll {
  overflow-y: hidden;
}

@media screen and (max-width: 996px) {
  .offset {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .offset {
    max-width: 540px;
  }
}
@media screen and (max-width: 540px) {
  .offset {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .offset {
    max-width: 414px;
  }
}
@media screen and (max-width: 414px) {
  .offset {
    max-width: 360px;
  }
}
@media screen and (max-width: 360px) {
  .offset {
    max-width: 360px;
  }
}
.title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37px;
}

.color_brown {
  color: #591413;
}

.color_dark {
  color: #1D1D1B;
}

.color_white {
  color: #FFFFFF;
}

.text_upper {
  text-transform: uppercase;
}

.font_w_700 {
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 414px) {
  .title {
    font-size: 18px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header .head_container {
  display: flex;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header .header_mobile {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #727272;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .header_mobile .mobile_nav {
  display: block;
}
.header .header_mobile .header__burger-btn {
  position: fixed;
  top: 40px;
  right: 50px;
}
.header .head_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
@media screen and (max-width: 996px) {
  .header .head_info {
    display: none;
  }
}
.header .head_info__text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
  color: #686767;
  cursor: pointer;
  text-transform: uppercase;
}
.header .head_info__text > a {
  text-decoration: underline;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
  color: #686767;
  cursor: pointer;
  text-transform: uppercase;
}
.header .header__burger-btn {
  display: none;
  position: relative;
  height: 25px;
  width: 40px;
  border: none;
  background: transparent;
}
.header .header__burger-btn > span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #1D1D1B;
}
@media screen and (max-width: 996px) {
  .header .header__burger-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.header .header__burger-btn::before, .header .header__burger-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #1D1D1B;
  transition: all 0.3s ease 0s;
}
.header .header__burger-btn::before {
  top: 0;
}
.header .header__burger-btn::after {
  bottom: 0;
}
.header .header__burger-btn.header__burger-btn--active > span {
  transform: scale(0);
}
.header .header__burger-btn.header__burger-btn--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header__burger-btn.header__burger-btn--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header .mobile_nav {
  display: none;
}
.header .mobile_nav .mobile_nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.header .mobile_nav .mobile_nav-list > li > a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
}
.header .nav_menu {
  display: flex;
  width: 100%;
  background-color: #cccccc;
  margin-top: 20px;
}
@media screen and (max-width: 996px) {
  .header .nav_menu {
    display: none;
  }
}
.header .nav_list_menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0px;
}
.header .nav_list_menu_item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 43px;
  width: 100%;
  border-left: 1px solid #a0a09f;
  transition: background-color 0.3s ease-in-out;
}
.header .nav_list_menu_item:hover {
  background-color: #a0a09f;
  color: #FFFFFF;
}
.header .nav_list_menu_item:hover > a {
  color: #FFFFFF;
}
.header .nav_list_menu_item:nth-child(1) {
  border-left: none;
}
.header .nav_list_menu_item:nth-child(5) {
  border-right: 1px solid #a0a09f;
}
.header .nav_list_menu_item:nth-child(6) {
  border-left: none;
}
.header .nav_list_menu_item__active {
  background-color: #a0a09f;
  color: #FFFFFF;
}
.header .nav_list_menu_item > a {
  display: flex;
  padding: 0px 10px;
}
.header .nav_list_menu_item > a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #1D1D1B;
}

.show_room {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.show_room .line {
  height: 2px;
  width: 100%;
  background-color: #591413;
}
.show_room .container {
  display: flex;
  padding: 40px 0px;
  width: 100%;
}
.show_room .show_room__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .show_room .show_room__row {
    flex-direction: column;
  }
}
.show_room .show_room__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.show_room .show_room__item:last-child > ul {
  margin-top: 16px;
}
.show_room .show_room__item:last-child > ul > li {
  list-style: none;
}
.show_room .show_room__item:last-child > ul > ul > li {
  list-style-type: square;
}
@media screen and (max-width: 996px) {
  .show_room .show_room__item:last-child {
    margin-top: 40px;
  }
}
.show_room .info {
  position: relative;
  padding-left: 32px;
  margin: 4px 0px;
}
.show_room .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.show_room .info__location::before {
  background-image: url("../../images/location.png");
}
.show_room .info__phone::before {
  background-image: url("../../images/phone.png");
}
.show_room .info__clock::before {
  background-image: url("../../images/clock.png");
}
.show_room .info__mail::before {
  background-image: url("../../images/mail_g.png");
}
.show_room .show_room__item > p {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
}
.show_room .show_room__item > ul {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
}

.dealers_shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.dealers_shop .dealers_shop__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
@media screen and (max-width: 768px) {
  .dealers_shop .dealers_shop__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.dealers_shop .dealers_shop__grid_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dealers_shop .dealers_shop__location {
  display: flex;
  width: 100%;
  margin-top: 12px;
}
.dealers_shop .dealers_shop__location > img {
  height: 28px;
  width: 28px;
}
.dealers_shop .dealers_shop__location > p {
  font-family: "Bahnschrift", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 350;
  margin-left: 4px;
}

.footer {
  display: flex;
  background-color: #727272;
  min-height: 305px;
  padding: 40px 0px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 996px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .footer_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer_block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 996px) {
  .footer .footer_block__item {
    align-items: start;
  }
}
@media screen and (max-width: 996px) {
  .footer .footer_block:first-child {
    margin-bottom: 40px;
  }
}
.footer .footer_menu {
  list-style: none;
  padding: 0;
}

.google_map {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

@media screen and (max-width: 996px) {
  .google_map > img {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .google_map > img {
    max-width: 540px;
  }
}
@media screen and (max-width: 540px) {
  .google_map > img {
    max-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .google_map > img {
    max-width: 414px;
  }
}
@media screen and (max-width: 414px) {
  .google_map > img {
    max-width: 360px;
  }
}
@media screen and (max-width: 360px) {
  .google_map > img {
    max-width: 360px;
  }
}
.logo {
  display: flex;
  max-width: 340px;
}

@media screen and (max-width: 996px) {
  .logo {
    width: 40%;
  }
}
.contact-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 34px;
}
.contact-us .contact-us__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contact-us .social-links {
  display: flex;
  justify-content: space-between;
  border: 1px solid #591413;
  width: 49%;
}
.contact-us .social-links__item {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}
.contact-us .social-links__item:nth-child(2) {
  border-left: 1px solid #591413;
  border-right: 1px solid #591413;
}
.contact-us .social-links__item > a {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us__social {
    flex-direction: column;
    text-align: center;
  }
  .contact-us .social-links {
    margin-top: 20px;
    min-width: 100% !important;
  }
}
.contact-us .pad_l {
  padding-left: 35px;
}
.contact-us .contact-us__list {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.contact-us .contact-us__list > ul {
  list-style: none;
  padding: 0px;
}
.contact-us .contact-us__list > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-block__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #cccccc;
  padding: 40px;
}
.contact-block__form .contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.contact-block__form .contact-form__item {
  display: flex;
  gap: 16px;
  column-gap: 20px;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}
.contact-block__form .contact-form__input {
  background-color: #FFFFFF;
  padding: 12px 16px;
  width: 50%;
}
.contact-block__form .contact-form__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.contact-block__form .contact-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 14px;
  background-color: #591413;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.contact-block__form .contact-form__btn > img {
  margin-left: 16px;
}
.contact-block__form .confirm_text {
  display: flex;
  text-align: left;
  width: 50%;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #605E5E;
}
@media screen and (max-width: 996px) {
  .contact-block__form .contact-form__item {
    flex-direction: column;
    height: auto;
  }
  .contact-block__form .contact-form__input {
    width: 100%;
  }
  .contact-block__form .contact-form__btn {
    width: 100%;
    height: 46px;
  }
  .contact-block__form .confirm_text {
    width: 100%;
  }
}

.jobs_head_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
.jobs_head_container .jobs_contact_info {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
.jobs_head_container .jobs_contact_info > p {
  width: 40%;
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
}
.jobs_head_container .jobs_contact_info_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 996px) {
  .jobs_head_container .jobs_contact_info {
    flex-direction: column;
  }
  .jobs_head_container .jobs_contact_info > p {
    width: 100%;
    margin-bottom: 20px;
  }
  .jobs_head_container .jobs_contact_info_item {
    align-items: flex-start;
  }
}

.info {
  position: relative;
  padding-left: 32px;
  margin: 4px 0px;
}
.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.info__location::before {
  background-image: url("../../images/location.png");
}
.info__phone::before {
  background-image: url("../../images/phone.png");
}
.info__clock::before {
  background-image: url("../../images/clock.png");
}
.info__mail::before {
  background-image: url("../../images/mail_g.png");
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  gap: 40px;
}
.jobs-grid .grid-card {
  display: flex;
  flex-direction: column;
}
.jobs-grid .grid-card > h2 {
  margin-top: 10px;
}
@media screen and (max-width: 996px) {
  .jobs-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 2%;
  }
  .jobs-grid .grid-card > img {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */