@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Bahnschrift";
  src: url("../../fonts/Bahnschrift.woff") format("woff"), url("../../fonts/Bahnschrift.woff2") format("woff2");
}
body {
  margin: 0;
}

* {
  margin: 0px;
  border: none;
  box-sizing: border-box;
  padding: 0px;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.otf");
}
.title {
  font-family: "Bebas", sans-serif;
  font-size: 25.06px;
  font-weight: 400;
  line-height: 37.63px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title_bold {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25.06px;
  font-weight: 700;
  line-height: 37.63px;
}

.color_brown {
  color: #591413;
}

.color_dark {
  color: #1D1D1B;
}

.color_white {
  color: #FFFFFF;
}

.text_upper {
  text-transform: uppercase;
}

.font_w_700 {
  font-weight: 700;
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 24.06px;
    line-height: 27.67px;
  }
}
.offset {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
  padding-top: 40px;
}

.no-scroll {
  overflow-y: hidden;
}

@media screen and (max-width: 996px) {
  .offset {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .offset {
    max-width: 617px;
  }
}
@media screen and (max-width: 617px) {
  .offset {
    max-width: 460px;
  }
}
@media screen and (max-width: 460px) {
  .offset {
    max-width: 329px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header .head_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 2px;
  max-height: 79px;
}
@media screen and (max-width: 996px) {
  .header .head_container {
    max-height: 100%;
  }
}
.header .header_mobile {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #727272;
  transition: background-color 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .header_mobile .mobile_nav {
  display: block;
}
.header .header_mobile .header__burger-btn {
  position: fixed;
  top: 52px;
  right: 10px;
}
@media screen and (max-width: 996px) {
  .header .header_mobile .header__burger-btn {
    top: 63px;
    right: 50px;
  }
}
@media screen and (max-width: 460px) {
  .header .header_mobile .header__burger-btn {
    top: 52px;
    right: 50px;
  }
}
.header .head_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 22px 0px 5px 0px;
}
@media screen and (max-width: 617px) {
  .header .head_info {
    display: none;
  }
}
.header .head_info__text {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
  color: #686767;
  cursor: pointer;
  text-transform: uppercase;
}
.header .head_info__text:last-child {
  margin-top: -5px;
}
@media screen and (max-width: 768px) {
  .header .head_info__text {
    font-size: 20.56px;
    line-height: 24.67px;
  }
}
.header .head_info__text > a {
  text-decoration: underline;
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 31.2px;
  color: #686767;
  cursor: pointer;
  text-transform: uppercase;
}
.header .header__burger-btn {
  display: none;
  position: relative;
  height: 26px;
  width: 23px;
  border: none;
  background: transparent;
}
.header .header__burger-btn > span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #1D1D1B;
}
@media screen and (max-width: 617px) {
  .header .header__burger-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.header .header__burger-btn::before, .header .header__burger-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000000;
  transition: all 0.3s ease 0s;
}
.header .header__burger-btn::before {
  top: 0;
}
.header .header__burger-btn::after {
  bottom: 0;
}
.header .header__burger-btn.header__burger-btn--active > span {
  transform: scale(0);
}
.header .header__burger-btn.header__burger-btn--active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.header .header__burger-btn.header__burger-btn--active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header .mobile_nav {
  display: none;
}
.header .mobile_nav .mobile_nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.header .mobile_nav .mobile_nav-list > li > a {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-size: 20.56px;
  line-height: 24.67px;
  color: #FFFFFF;
}
.header .mobile_nav .mobile_nav__item-active {
  color: #591413 !important;
}
.header .nav_menu {
  display: flex;
  width: 100%;
  background-color: #cccccc;
  margin-top: 20px;
}
@media screen and (max-width: 617px) {
  .header .nav_menu {
    display: none;
  }
}
.header .nav_list_menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0px;
}
.header .nav_list_menu_item {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
  height: 44px;
  width: 100%;
  border-left: 1px solid #a0a09f;
  transition: background-color 0.3s ease-in-out;
}
.header .nav_list_menu_item:hover {
  background-color: rgb(96, 94, 94);
  color: #FFFFFF;
}
.header .nav_list_menu_item:hover > a {
  color: #FFFFFF;
}
.header .nav_list_menu_item:nth-child(1) {
  border-left: none;
}
.header .nav_list_menu_item:nth-child(5) {
  border-right: 1px solid #a0a09f;
}
.header .nav_list_menu_item:nth-child(6) {
  border-left: none;
}
.header .nav_list_menu_item__active {
  background-color: #a0a09f;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header .nav_list_menu_item {
    height: 27.7px;
  }
}
.header .nav_list_menu_item > a {
  display: flex;
  padding: 0px 10px;
}
.header .nav_list_menu_item > a {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  font-size: 25.06px;
  line-height: 37.63px;
  color: #1D1D1B;
}
@media screen and (max-width: 768px) {
  .header .nav_list_menu_item > a {
    font-size: 19.06px;
  }
}

.show_room {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.show_room .line {
  height: 2px;
  width: 100%;
  background-color: #591413;
}
.show_room .container {
  display: flex;
  padding: 30px 0 32px 0px;
  width: 100%;
}
.show_room .show_room__row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 996px) {
  .show_room .show_room__row {
    flex-direction: column;
  }
}
.show_room .show_room__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.show_room .show_room__item:nth-child(1) {
  width: 35%;
}
.show_room .show_room__item:nth-child(2) {
  width: 50%;
}
.show_room .show_room__item > img {
  width: 340px;
  height: 75px;
  margin-bottom: 12px;
}
@media screen and (max-width: 996px) {
  .show_room .show_room__item > img {
    width: 276.7px;
    height: 62.46px;
  }
}
@media screen and (max-width: 460px) {
  .show_room .show_room__item > img {
    width: 196px;
    height: 44.24px;
  }
}
.show_room .show_room__item:last-child > ul {
  margin-top: 16px;
}
.show_room .show_room__item:last-child > ul > li {
  list-style: none;
}
.show_room .show_room__item:last-child > ul > ul > li {
  list-style-type: square;
}
@media screen and (max-width: 996px) {
  .show_room .show_room__item:last-child {
    margin-top: 40px;
    width: 100%;
  }
  .show_room .show_room__item:first-child {
    width: 100%;
  }
}
.show_room .info {
  position: relative;
  padding-left: 32px;
  margin: 4px 0px;
}
.show_room .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.show_room .info__location::before {
  background-image: url("../../images/location.png");
}
.show_room .info__phone::before {
  background-image: url("../../images/phone_1.png");
}
.show_room .info__clock::before {
  background-image: url("../../images/clock.png");
}
.show_room .info__mail::before {
  background-image: url("../../images/mail_g.png");
}
.show_room .show_room__item > p {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
  margin-top: 10px;
  margin-left: -9px;
}
.show_room .show_room__item__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.show_room .show_room__item__list > span {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
  margin-top: 2px;
  margin-left: -9px;
}
.show_room .show_room__item__list > ul {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
  padding-left: 15px;
}

.dealers_shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.dealers_shop .dealers_shop__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  grid-column-gap: 58px;
  grid-row-gap: 40px;
  width: 904px;
}
@media screen and (max-width: 996px) {
  .dealers_shop .dealers_shop__grid {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dealers_shop .dealers_shop__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.dealers_shop .dealers_shop__grid_card {
  display: flex;
  flex-direction: column;
  max-width: 423px;
  max-height: 82px;
}
@media screen and (max-width: 996px) {
  .dealers_shop .dealers_shop__grid_card {
    max-width: 100%;
  }
}
.dealers_shop .dealers_shop__location {
  display: flex;
  width: 100%;
  padding: 3px 3px 0px 3px;
  gap: 4px;
}
.dealers_shop .dealers_shop__location > img {
  height: 21px;
  width: 21px;
}
.dealers_shop .dealers_shop__location > p {
  font-family: "Bahnschrift", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 350;
  margin-left: 4px;
  padding-right: 18px;
}

.footer {
  display: flex;
  background-color: #727272;
  min-height: 305px;
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 996px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .footer_block {
  display: flex;
  flex-direction: column;
}
.footer .footer_block__item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer .footer_block__item > p {
  margin-top: 10px;
  padding-right: 315px;
  color: #8e8e8e;
}
@media screen and (max-width: 460px) {
  .footer .footer_block__item > p {
    padding-right: 0px !important;
  }
}
.footer .footer_block__item:first-child {
  margin-bottom: 25px;
}
@media screen and (max-width: 996px) {
  .footer .footer_block:first-child {
    margin-bottom: 40px;
  }
}
.footer .footer_menu {
  list-style: none;
  padding: 0;
}
.footer .footer_menu > li > a {
  cursor: pointer;
  color: #FFFFFF;
}

.google_map {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

@media screen and (max-width: 996px) {
  .google_map > img {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .google_map > img {
    max-width: 617px;
  }
}
@media screen and (max-width: 617px) {
  .google_map > img {
    max-width: 460px;
  }
}
@media screen and (max-width: 460px) {
  .google_map > img {
    max-width: 329px;
  }
}
.logo {
  display: flex;
  max-width: 350px;
}

@media screen and (max-width: 996px) {
  .logo {
    width: 276.7px;
    height: 62.46px;
  }
}
@media screen and (max-width: 460px) {
  .logo {
    width: 196px;
    height: 44.24px;
  }
}
.contact-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 34px;
}
.contact-us .title {
  font-family: "Bebas", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
}
.contact-us .contact-us__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contact-us .social-links {
  display: flex;
  justify-content: space-between;
  border: 1px solid #591413;
  width: 486px;
  height: 44px;
}
.contact-us .social-links__item {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
}
.contact-us .social-links__item:nth-child(2) {
  border-left: 1px solid #591413;
  border-right: 1px solid #591413;
}
.contact-us .social-links__item > a {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us__social {
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
  }
  .contact-us .social-links {
    margin-top: 20px;
    width: 100% !important;
  }
}
.contact-us .pad_l {
  padding-left: 38px;
}
.contact-us .mr_0 {
  margin-bottom: 0 !important;
}
.contact-us .contact-us__list {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.contact-us .contact-us__list > ul {
  list-style: none;
  padding: 0px;
}
.contact-us .contact-us__list > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact-block__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #cccccc;
  padding: 32px 40px 40px;
  margin-top: 80px;
  height: 296px;
}
.contact-block__form .contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.contact-block__form .contact-form__body::after {
  z-index: 1000000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../../images/Spinning arrows.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.contact-block__form .contact-form.__sending::after {
  opacity: 1;
  visibility: visible;
}
.contact-block__form .contact-form__item {
  display: flex;
  gap: 16px;
  column-gap: 20px;
  width: 100%;
  height: 46px;
  margin-bottom: 20px;
}
.contact-block__form .contact-form__item:last-child {
  margin-bottom: 0;
}
.contact-block__form .input_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-block__form .errorLabel {
  margin-bottom: 8px;
  margin-top: 4px;
  color: red;
}
.contact-block__form .contact-form__input {
  background-color: #FFFFFF;
  padding: 12px 16px;
  width: 100%;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.contact-block__form .contact-form__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}
.contact-block__form .contact-form__input:focus {
  border: 1px solid #1D1D1B;
}
.contact-block__form .contact-form__input._error {
  border: 1px solid red;
}
.contact-block__form .email_error_text {
  display: none;
  color: red;
  margin: 4px 0px;
  font-family: "Bebas", sans-serif;
  font-size: 16px;
}
.contact-block__form .contact-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 14px;
  background-color: #591413;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.contact-block__form .contact-form__btn > img {
  margin-left: 16px;
}
.contact-block__form .confirm_text {
  display: flex;
  text-align: left;
  width: 50%;
  height: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #605E5E;
}
@media screen and (max-width: 996px) {
  .contact-block__form .contact-form__item {
    flex-direction: column;
    height: auto;
  }
  .contact-block__form .contact-form__input {
    width: 100%;
  }
  .contact-block__form .contact-form__btn {
    width: 100%;
    height: 46px;
  }
  .contact-block__form .confirm_text {
    width: 100%;
  }
}

@media screen and (max-width: 996px) {
  .contact-block__form {
    height: auto !important;
  }
}
.jobs_head_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
}
.jobs_head_container .jobs_contact_info {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}
.jobs_head_container .jobs_contact_info > p {
  width: 50%;
  font-family: "Bahnschrift", sans-serif;
  font-weight: 350;
  font-size: 16px;
  line-height: 22.4px;
  color: #1D1D1B;
}
.jobs_head_container .jobs_contact_info_item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
@media screen and (max-width: 996px) {
  .jobs_head_container .jobs_contact_info {
    flex-direction: column;
  }
  .jobs_head_container .jobs_contact_info > p {
    width: 100%;
    margin-bottom: 20px;
  }
  .jobs_head_container .jobs_contact_info_item {
    align-items: flex-start;
    text-align: left;
  }
}

.info {
  position: relative;
  padding-left: 38px;
}
.info::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 460px) {
  .info::before {
    top: -1px;
  }
}
.info__location::before {
  background-image: url("../../images/location.png");
}
.info__phone::before {
  background-image: url("../../images/phone.png");
}
.info__clock::before {
  background-image: url("../../images/clock.png");
}
.info__mail::before {
  background-image: url("../../images/mail_g.png");
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px 0px;
  gap: 40px;
}
.jobs-grid .grid-card {
  display: flex;
  flex-direction: column;
}
.jobs-grid .grid-card > h2 {
  margin-top: 10px;
}
@media screen and (max-width: 996px) {
  .jobs-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .jobs-grid .grid-card > img {
    width: 100%;
  }
}

.popUp {
  position: fixed;
  background-color: rgba(32, 33, 37, 0.64);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100000;
  inset: 0px;
  display: none;
  transition: all 0.3s ease-in;
}
.popUp-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  background-color: #CCC;
  text-align: center;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  color: #1d1d1b;
}
@media screen and (max-width: 996px) {
  .popUp-content {
    left: 35%;
  }
}
@media screen and (max-width: 617px) {
  .popUp-content {
    left: 25%;
    height: 120px;
  }
}
@media screen and (max-width: 460px) {
  .popUp-content {
    left: 12%;
    width: 80%;
    height: 80px;
  }
}

.popUp_error {
  position: fixed;
  background-color: rgba(32, 33, 37, 0.64);
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100000;
  inset: 0px;
  display: none;
  transition: all 0.3s ease-in;
}
.popUp_error-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  background-color: #CCC;
  text-align: center;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  color: #1d1d1b;
}
@media screen and (max-width: 996px) {
  .popUp_error-content {
    left: 35%;
  }
}
@media screen and (max-width: 617px) {
  .popUp_error-content {
    left: 25%;
    height: 120px;
  }
}
@media screen and (max-width: 460px) {
  .popUp_error-content {
    left: 12%;
    width: 80%;
    height: 80px;
  }
}/*# sourceMappingURL=main.css.map */