.contact-us{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 34px;


    .title{
        font-family: 'Bebas Neue', sans-serif;;
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
    }
    .contact-us__social{
        display:flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }

    .social-links{
        display:flex;
        justify-content: space-between;
        border: 1px solid $brown-text;  
        width: 486px;
        height: 44px;
    }

    .social-links__item{
        display:flex;
        width: 33%;
        align-items:center;
        justify-content:center;
        padding: 12px 0px;

        &:nth-child(2){
            border-left: 1px solid $brown-text;
            border-right: 1px solid $brown-text;
        }

        & > a{
            cursor: pointer;
        }
    }

    @include mediaTablet_sm{
        .contact-us__social{
            align-items: flex-start;
            flex-direction: column;
            text-align: center;
        }
        
        .social-links{
            margin-top: 20px;
            width: 100% !important;
        }
    }


    .pad_l{
        padding-left: 38px;
    }
    .mr_0{
        margin-bottom: 0 !important;
    }

    .contact-us__list{
        display: flex;
        align-items:flex-start;
        margin-top:20px;

        & > ul{
            list-style: none;
            padding:0px;
        }

        & > ul > li{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }

   

    
}



