.jobs_head_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;

    .jobs_contact_info{
        display: flex;
        width: 100%;
        margin-top:20px;
        justify-content: space-between;

        & > p {
            width:50%;
            font-family: $font-accent;
            font-weight: 350;
            font-size: 16px;
            line-height: 22.4px;
            color: $dark-text;
        }
    
    }

    .jobs_contact_info_item{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    @include mediaTablet {
        .jobs_contact_info{
            flex-direction: column;
        }

        .jobs_contact_info > p {
            width: 100%;
            margin-bottom: 20px;
        }

        .jobs_contact_info_item{
            align-items: flex-start;
        }
    }

}



.info{
    position: relative;
    padding-left:38px;
    
    &::before{
        content: "";
        
        position: absolute;
        top: 0;
        left: 0;
        width:28px;
        height: 28px;

        
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__location::before{
        background-image: url('../../images/location.png');
    }
    
    &__phone::before{
        background-image: url('../../images/phone.png');
    }

    &__clock::before{
        background-image: url('../../images/clock.png');
    }

    &__mail::before{
        background-image: url('../../images/mail_g.png');
    }   
   
}