.logo{
    display: flex;
    max-width: 350px;
}

@include mediaTablet {
    .logo{
        width: 276.7px;
        height:62.46px
    }
}


@include phone_lg{
    .logo{
        width:196px;
        height: 44.24px;
    }
}

