.show_room{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 40px;

    .line{
        height: 2px;
        width: 100%;
        background-color: $brown-text;
    }

    .container{
        display: flex;
        padding: 30px 0 32px 0px;
        width: 100%;
    }


    .show_room__row{
        display: flex;
        justify-content: space-between;

     
        
        @include mediaTablet{
            flex-direction: column;
        }
        
    }

  


    .show_room__item{
        display: flex;
        flex-direction: column;
        width: 100%;

    
        &:nth-child(1){
            width: 35%;

        }

        &:nth-child(2){
            width: 50%;

        }

        & > img{
            width: 340px; 
            height:75px;
            margin-bottom: 12px;
        }


        &:last-child > ul{
           margin-top:16px
        }

        &:last-child > ul > li{
            list-style: none;
         }

        &:last-child > ul  > ul > li{
            list-style-type: square;
         }

         @include mediaTablet{
            &:last-child{
                margin-top:40px;
                width: 100%;
            }

            &:first-child{
                width: 100%;
            }

        }

       
    }

   
    
   

    .info{
        position: relative;
        padding-left:32px;
        margin: 4px 0px;
        
        &::before{
            content: "";
            
            position: absolute;
            top: 0;
            left: 0;
            width:28px;
            height: 28px;

            
            background-repeat: no-repeat;
            background-position: center;
        }
        
        &__location::before{
            background-image: url('../../images/location.png');
        }
        
        &__phone::before{
            background-image: url('../../images/phone_1.png');
        }

        &__clock::before{
            background-image: url('../../images/clock.png');
        }

        &__mail::before{
            background-image: url('../../images/mail_g.png');
        }         
    }



    .show_room__item > p {
        font-family: $font-accent;
        font-weight: 350;
        font-size: 16px;
        line-height: 22.4px;
        color: $dark-text;
        margin-top: 10px;
        margin-left: -9px;
    }

    .show_room__item__list{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .show_room__item__list > span{
        font-family: $font-accent;
        font-weight: 350;
        font-size: 16px;
        line-height: 22.4px;
        color: $dark-text;
        margin-top: 2px;
        margin-left: -9px;
    }

    .show_room__item__list > ul {
        font-family: $font-accent;
        font-weight: 350;
        font-size: 16px;
        line-height: 22.4px;
        color: $dark-text;
        padding-left: 15px;
    }

    
}