.offset{
    display: flex;
    flex-direction: column;
    max-width: 980px;
    margin: 0 auto;
    transition: opacity 0.5s ease-in-out; 
    padding-top: 40px;
}


.no-scroll{
    overflow-y: hidden;
}


@include mediaTablet {
    .offset{
        max-width: $tablet_sm;
    }
}

@include mediaTablet_sm{
    .offset{
        max-width: $phone_xxl;
    }
}

@include phone_xxl {
    .offset{
        max-width: $phone_lg;
    }
}

@include phone_lg {
    .offset{
        max-width: $phone_sm;
    }
}

@include phone_sm {
    .offset{
        max-width: $phone_xs;
    }
}

@include phone_xs {
    .offset{
        max-width: $phone_xs;
    }
}








