@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face{
    font-family:'Bebas Neue', sans-serif;   
    src: url('../../fonts/OFONT.RU_BEBASNEUE\(1\).TTF') 
}

// @font-face{
//     font-family:'Bebas Bold';    
//     src: url('../../fonts/BEBAS_NEUE_BOLD.TTF')
// }

@font-face{
    font-family: "Bahnschrift";
    src: url('../../fonts/Bahnschrift.woff') format('woff'),
    url('../../fonts/Bahnschrift.woff2') format('woff2');
}