.title{
    font-family: $font-main;
    // font-family: 'Bebas Neue', sans-serif;
    font-size: $font-size-main;
    font-weight: 400;
    line-height: $line-height-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title_bold{
    font-family: 'Bebas Neue', sans-serif;
    font-size: $font-size-main;
    font-weight: 700;
    line-height: $line-height-main;
}



.color_brown{
    color: $brown_text;
}

.color_dark{
    color: $dark_text;
}

.color_white{
    color: $white;
}

.text_upper{
    text-transform: uppercase;
}

.font_w_700{
    font-weight: 700;
}

@include phone_lg {
    .title{
        font-size: 20px;
        line-height: 25px;
       
    }
}

@include phone_sm {
    .title{
        font-size: 18px;
        // line-height: 22px;
    }
}