
//FONTS
// $font-main:'Bebas Neue', sans-serif;
$font-main:'Bebas Neue', sans-serif;
$font-main__bold: 'Bebas Bold', sans-serif;
$font-accent:  "Bahnschrift", sans-serif;
$font-size-main: 25.06px;
$line-height-main: 37.63px;
$font-placeholder: 'Montserrat', sans-serif;


//COLORS
$dark-text: #1D1D1B;
$brown-text: #591413;
$footer-bg: #727272;
$white: #FFFFFF;


//BREAKPOINTS
$tablet: 996px;
$tablet_sm: 768px;
$phone_xxl: 540px;
$phone_lg: 480px;
$phone_sm: 414px;
$phone_xs: 360px;


